.error{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 140px;
    margin-top: 90px;
    margin-bottom: 140px;
   
    &_title{
        font-size: 288px;
        font-weight: 700;
        color: #ff6060;
        margin: 0;

        @media (max-width: 768px) {
            font-size: 96px;
        }
    }
    &_txt{
        text-align: center;
        color: #FF6060;
        font-size: 36px;
        font-weight: 500;
        @media (max-width: 768px) {
            font-size: 18px;
        }
    }
    &_link_redirection{
        text-align: center;
        color: #FF6060;
        font-size: 18px;
        font-weight: 500;

        @media (max-width: 768px) {
            font-size: 14px;
        }
    }

}